#map {
	width: 700px;
	z-index: 1;
	border: 5px solid #000;
}

.marker {
	width: 30px;
	position: absolute;
	z-index: 10;
}

h1 {
	text-align: center;
	color: #F18D05;
	display: inline-block;
}

body {
	background-color: #494848;
	text-align: center;
}

.skull {
	width: 50px;
	display: inline-block;
}

.info-box {
	opacity: .8;
	width: 150px;
	height: 75px;
	position: absolute;
	background-color: #FFF;
	border: 3px solid #494848;
	z-index: 9;
	display: none;
}