#map {
	width: 700px;
	z-index: 1;
	border: 5px solid #000;
}



h1 {
	text-align: center;
	color: #F18D05;
	display: inline-block;
}

body {
	background-color: #494848;
	text-align: center;
}

.skull {
	width: 50px;
	display: inline-block;
}

.new-mark {
	position: absolute;
	width: 190px;
	right: 100px;
	top: 100px;
	position: absolute;
}

.marker {
	width: 30px;
	z-index: 10;
}

.info-box {
	display: inline-block;
	opacity: .7;
	width: 150px;
	height: 75px;
	background-color: #FFF;
	border: 3px solid #494848;
	z-index: 9;
	display: none;
	word-wrap: break-word;
}

